.for {

    .wrapp {
        padding: 0px 30px;
        text-align: center;
        padding-top: 30px;

        .btn {
            border-radius: 20px;
            margin-bottom: 30px;
            color: white;
            background-color: black;
        }
    }
}