.header {
    margin: 0 auto;
    .phone {
        width: 100%;
        border-radius: 10px;
        max-height: 350px;
    }

    .wrapp {
        padding: 0px 30px;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: end;
            position: relative;
            bottom: 70px;

            .ava {
                width: 120px;
                border-radius: 35px;
            }
        }

        .year {
            display: flex;
            align-items: center;
            column-gap: 5px;

            .picture {
                width: 20px;
            }
        }

        .follow {
            display: flex;
            column-gap: 10px;

            span {
                color: black;
                font-weight: 700;
            }
        }
    }
    
    p {
        color: #756d6c;
    }
}