.twits {

    .probaone {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
    }
    

    .dop {
        display: flex;
        align-items: center;

        .ava {
            border-radius: 100%;
            width: 100px;
            height:110px;
        }
    }

    .probatri {
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding-left: 15px;
    }

    .probachet {
        display: flex;
        align-items: center;
    }

    .probafive {
        display: flex;
        column-gap: 20px;
        .picture {
            width: 15px;
        }
    }

    .btns {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        .picture {
            width: 15px;
        }
    }

    .nothing {
        text-align: center;
        margin: 50px 0px;
        font-size: 24px;
    }
}